body {
    background-color: green
    
}

.slider {
position: relative;
margin: auto;
overflow: hidden;
}

.slider img {
    display: none;
width: 686px;
height: 386px;
}

img.displayslide{
    display: block;
    margin-left: auto;
  margin-right: auto;
animation-name: fade;
animation-duration: 1.5s;
}


.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
background-color: black;
color: white;
border: none;
cursor: pointer;

}

.previous {
    left: 0;
}

.next {
    right: 0;
}

@keyframes fade {
from {opacity: .5;}
to {opacity: 1;}


}

